@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    border-radius: 50%;
  }
}

.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #19376d;
  overflow: hidden;
}

.X:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "X";
  font-weight: bold;
  color: #576cbc;
  text-align: center;
}

.O:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "O";
  font-weight: bold;
  color: #a5d7e8;
  text-align: center;
}

.background div {
  position: absolute;
  display: block;
  animation: animate 35s linear infinite;
}

.background div:nth-child(0) {
  left: 66%;
  bottom: -0.1rem;
  animation-delay: 0s;
  font-size: 8rem;
}
.background div:nth-child(1) {
  left: 3%;
  bottom: -4rem;
  animation-delay: 2s;
  font-size: 2rem;
}
.background div:nth-child(2) {
  left: 6%;
  bottom: -1rem;
  animation-delay: 3s;
  font-size: 6rem;
}
.background div:nth-child(3) {
  left: 9%;
  bottom: -2rem;
  animation-delay: 8s;
  font-size: 10rem;
}
.background div:nth-child(4) {
  left: 12%;
  bottom: -0.1rem;
  animation-delay: 0s;
  font-size: 4rem;
}
.background div:nth-child(5) {
  left: 15%;
  bottom: -3rem;
  animation-delay: 12s;
  font-size: 1rem;
}
.background div:nth-child(6) {
  left: 18%;
  bottom: -3.5rem;
  animation-delay: 4s;
  font-size: 8rem;
}
.background div:nth-child(7) {
  left: 21%;
  bottom: -3.5rem;
  animation-delay: 6s;
  font-size: 5rem;
}
.background div:nth-child(8) {
  left: 24%;
  bottom: -3rem;
  animation-delay: 20s;
  font-size: 3rem;
}
.background div:nth-child(9) {
  left: 27%;
  bottom: -0.5rem;
  animation-delay: 0s;
  font-size: 12rem;
}
.background div:nth-child(10) {
  left: 30%;
  bottom: -1rem;
  animation-delay: 28s;
  font-size: 7rem;
}
.background div:nth-child(11) {
  left: 33%;
  bottom: -1.5rem;
  animation-delay: 15s;
  font-size: 4rem;
}
.background div:nth-child(12) {
  left: 36%;
  bottom: -2.5rem;
  animation-delay: 31s;
  font-size: 9rem;
}
.background div:nth-child(13) {
  left: 39%;
  bottom: -1rem;
  animation-delay: 52s;
  font-size: 7rem;
}
.background div:nth-child(14) {
  left: 42%;
  bottom: -2rem;
  animation-delay: 26s;
  font-size: 11rem;
}
.background div:nth-child(15) {
  left: 45%;
  bottom: -0.1rem;
  animation-delay: 0s;
  font-size: 18rem;
}
.background div:nth-child(16) {
  left: 48%;
  bottom: -0.5rem;
  animation-delay: 46s;
  font-size: 4rem;
}
.background div:nth-child(17) {
  left: 51%;
  bottom: -0.1rem;
  animation-delay: 0s;
  font-size: 9rem;
}
.background div:nth-child(18) {
  left: 54%;
  bottom: -2rem;
  animation-delay: 5s;
  font-size: 1rem;
}
.background div:nth-child(19) {
  left: 57%;
  bottom: -1rem;
  animation-delay: 10s;
  font-size: 11rem;
}
.background div:nth-child(20) {
  left: 60%;
  bottom: -0.1rem;
  animation-delay: 15s;
  font-size: 2rem;
}
.background div:nth-child(21) {
  left: 63%;
  bottom: -3.5rem;
  animation-delay: 31s;
  font-size: 5rem;
}
.background div:nth-child(22) {
  left: 66%;
  bottom: -1rem;
  animation-delay: 0s;
  font-size: 3rem;
}
.background div:nth-child(23) {
  left: 69%;
  bottom: -0.1rem;
  animation-delay: 1s;
  font-size: 8rem;
}
.background div:nth-child(24) {
  left: 72%;
  bottom: -3rem;
  animation-delay: 9s;
  font-size: 13rem;
}
.background div:nth-child(25) {
  left: 75%;
  bottom: -2rem;
  animation-delay: 26s;
  font-size: 4rem;
}
.background div:nth-child(26) {
  left: 78%;
  bottom: -1rem;
  animation-delay: 6s;
  font-size: 1rem;
}
.background div:nth-child(27) {
  left: 81%;
  bottom: -2rem;
  animation-delay: 35s;
  font-size: 10rem;
}
.background div:nth-child(28) {
  left: 84%;
  bottom: -1rem;
  animation-delay: 2s;
  font-size: 3rem;
}
.background div:nth-child(29) {
  left: 87%;
  bottom: -0.1rem;
  animation-delay: 7s;
  font-size: 2rem;
}
